/*
For now build using `sass static/css/custom.scss static/css/custom.css`
*/
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@font-face {
  src: url("../fonts/Avenir-LT-W02-55-Roman.eot?#iefix");
  src: url("../fonts/Avenir-LT-W02-55-Roman.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W02-55-Roman.woff") format("woff"), url("../fonts/Avenir-LT-W02-55-Roman.ttf") format("truetype"), url("../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman") format("svg");
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix");
  src: url("../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W02-85-Heavy.woff") format("woff"), url("../fonts/Avenir-LT-W02-85-Heavy.ttf") format("truetype"), url("../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy") format("svg");
  font-family: "Avenir";
  font-style: normal;
  font-weight: 700;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman") format("svg");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy") format("svg");
    font-style: normal;
    font-weight: 700;
  }
}
body,
h1,
h2,
h3,
h4 {
  font-family: avenir, "Helvetica Neue", arial, sans-serif;
}

body,
.mainContainer {
  color: #464e56;
  font-size: 16px;
}

h1, .mainContainer .wrapper .post .postHeader h1,
h2, .mainContainer .wrapper .post h2, .productShowcaseSection h2,
h3, .mainContainer .wrapper .post h3,
h4 {
  padding: 0;
  color: #000;
}

h1,
.mainContainer .wrapper .post .postHeader h1 {
  margin: 1rem 0 3rem 0;
  font-size: 3.125rem;
  font-weight: bold;
}
h1 small,
.mainContainer .wrapper .post .postHeader h1 small {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.75rem;
}

h2,
.mainContainer .wrapper .post h2,
.productShowcaseSection h2 {
  margin: 2rem 0;
  font-size: 2.5rem;
  line-height: 3.4375rem;
}

h3,
.mainContainer .wrapper .post h3 {
  margin: 1.9rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.mainContainer .wrapper p,
.blockElement p {
  margin: 0.7rem 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.responsiveImage {
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 735px) {
  .noMobile {
    display: none;
  }
}

.wrapper,
.separateOnPageNav.doc .wrapper,
.separateOnPageNav .headerWrapper.wrapper {
  width: 100%;
  max-width: 1440px;
}

blockquote {
  overflow: hidden;
  padding: 0 8px 0 10px;
  border: none;
  border-radius: 3px;
  color: #f18600;
  background: rgba(250, 218, 35, 0.15);
}
blockquote a {
  color: #f18600;
  text-decoration: underline;
}
blockquote p {
  margin: 4px 0;
}

.mainContainer .wrapper blockquote a {
  text-decoration: underline;
}

table {
  display: block;
  max-width: 100%;
  overflow: auto;
  border: none;
  background-color: transparent;
}
table tr th,
table tr td {
  min-width: 100px;
  padding: 0.3rem;
  border: none;
  font-family: avenir, "Helvetica Neue", arial, sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 1.3rem;
}
table tr th code,
table tr td code {
  color: #00c18d;
}
table tr th {
  text-transform: none;
}
table thead {
  border: none;
}
table thead tr:nth-of-type(odd) {
  background-color: transparent;
}
table thead tr th {
  color: #94a1ad;
  font-size: 0.8rem;
}
table tbody tr:nth-of-type(odd) {
  background-color: rgba(221, 228, 235, 0.4);
}

.versionsContainer .post {
  padding-right: 20px;
  padding-left: 20px;
}
.versionsContainer .post h2 {
  margin-top: 1rem;
}
.versionsContainer .post table {
  min-width: 500px;
}
.versionsContainer .post table tbody th {
  width: 150px;
}
@media only screen and (min-width: 736px) {
  .versionsContainer .post table {
    min-width: 500px;
  }
}
@media only screen and (max-width: 735px) {
  .versionsContainer .post table {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  .versionsContainer {
    margin-right: 260px;
    margin-left: 326px;
  }
}

@media only screen and (min-width: 736px) {
  .mainContainer .post:first-child,
.mainContainer .posts:first-child,
.mainContainer .lonePost:first-child,
.mainContainer .wrapper .post:first-child,
.mainContainer .wrapper .posts:first-child,
.mainContainer .wrapper .lonePost:first-child,
.blogContainer .post:first-child,
.blogContainer .posts:first-child,
.blogContainer .lonePost:first-child,
.blogContainer .wrapper .post:first-child,
.blogContainer .wrapper .posts:first-child,
.blogContainer .wrapper .lonePost:first-child {
    padding-top: 0;
  }
}

.fixedHeaderContainer {
  height: 64px;
  padding: 0;
}
.fixedHeaderContainer header img,
.fixedHeaderContainer .logo {
  width: 143px;
  height: 35px;
}
.fixedHeaderContainer header {
  height: 100%;
  align-items: center;
}
.fixedHeaderContainer header > a {
  flex: 0 0 auto;
}
.fixedHeaderContainer header > a:hover h3, .fixedHeaderContainer header > a:active h3, .fixedHeaderContainer header > a:focus h3 {
  text-decoration: underline;
}
.fixedHeaderContainer header a .logo {
  display: block;
  opacity: 0.9;
  margin-top: -4px;
}
.fixedHeaderContainer header a:hover .logo {
  opacity: 1;
}
.fixedHeaderContainer header h2 {
  display: none;
}
.fixedHeaderContainer header h3 {
  position: absolute;
  right: 7rem;
  margin: 0;
  color: #464e56;
  font-family: avenir, "Helvetica Neue", arial, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .fixedHeaderContainer header h3 {
    right: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .fixedHeaderContainer {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fdfdfd;
  }
}

.navigationSlider {
  position: relative;
  flex: 1 1 auto;
}
.navigationSlider .slidingNav {
  padding: 0 2rem;
}
@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav ul {
    justify-content: space-evenly;
    margin-top: 64px;
  }
}
@media only screen and (min-width: 1025px) {
  .navigationSlider .slidingNav ul {
    margin-right: 218px;
  }
}
.navigationSlider .slidingNav ul li {
  flex: 0 1 auto;
  padding: 0;
}
@media only screen and (min-width: 1025px) {
  .navigationSlider .slidingNav ul li {
    flex: 0 0 auto;
  }
}
.navigationSlider .slidingNav ul li a {
  padding: 0 1rem;
  border-bottom: 2px solid transparent;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  text-decoration: none;
  transition: all 0.2s;
}
.navigationSlider .slidingNav ul li a:empty {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav ul li a {
    height: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1025px) {
  .navigationSlider .slidingNav ul li a {
    height: 4rem;
    line-height: 4rem;
  }
  .navigationSlider .slidingNav ul li a[href*="https://github.com/"] {
    position: absolute;
    top: 17px;
    right: 0;
    height: 1.75rem;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    color: #000;
    font-size: 0.75rem;
    line-height: 1.75rem;
  }
  .navigationSlider .slidingNav ul li a[href*="https://github.com/"]:hover, .navigationSlider .slidingNav ul li a[href*="https://github.com/"]:focus, .navigationSlider .slidingNav ul li a[href*="https://github.com/"]:active {
    border-color: #000;
  }
}
@media only screen and (min-width: 1025px) {
  .navigationSlider .slidingNav ul li a {
    margin: 0 1rem;
  }
}
.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
  transition: all 100ms ease-in;
}
.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover {
  border-bottom-color: #464e56;
}
.navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
  border-bottom-color: #14b2e2;
}
.navigationSlider .slidingNav .navSearchWrapper {
  position: absolute;
  top: 50%;
  right: 200px;
  width: 218px;
  margin-top: -14px;
}
@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav .navSearchWrapper {
    top: 32px;
    right: 100px;
  }
}
@media only screen and (max-width: 1024px) {
  .navigationSlider .slidingNav {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background: #fdfdfd;
  }
  .sideNavVisible .navigationSlider .slidingNav {
    box-shadow: none;
  }
}
.navigationSlider nav.slidingNav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  background: #fdfdfd;
}
@media only screen and (min-width: 1025px) {
  .navigationSlider nav.slidingNav {
    background: none;
    height: auto;
    position: relative;
    right: auto;
    top: auto;
    width: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .navigationSlider {
    overflow: visible;
  }
  .navigationSlider,
.navigationSlider nav.slidingNav,
.navigationSlider .nav-site {
    height: 100%;
  }
}

.navPusher {
  display: flex;
  flex-direction: column;
  padding-top: 88px;
}
@media only screen and (min-width: 1025px) {
  .navPusher {
    padding-top: 64px;
  }
}

h1,
.mainContainer .wrapper .post h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3 {
  color: #000;
}

nav.toc .toggleNav .navGroup.navGroupActive {
  background: #e6e6e6;
}
nav.toc .toggleNav .navGroup.navGroupActive h3 {
  background: linear-gradient(to bottom, #1e2025 0%, #0a0d14 100%);
}

body,
.mainContainer {
  background: #fafafa;
}

.docMainWrapper.wrapper {
  flex: 1 0 auto;
  margin: 0 auto;
}
@media only screen and (min-width: 736px) {
  .docMainWrapper.wrapper {
    padding-top: 40px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 736px) {
  .doc.separateOnPageNav .docsNavContainer {
    flex: 0 0 290px;
    margin-top: 0;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 735px) {
  .docsSliderActive nav.toc .navBreadcrumb,
.doc.separateOnPageNav .docsNavContainer,
.navigationSlider .slidingNav ul {
    z-index: 1;
    background: #fdfdfd;
  }
}

nav.toc {
  width: auto;
}
nav.toc:last-child {
  padding-bottom: 0;
}
nav.toc .toggleNav {
  background: transparent;
}
@media only screen and (min-width: 736px) {
  nav.toc .toggleNav {
    padding: 1.25rem;
  }
}
nav.toc .toggleNav .navGroup.navGroupActive {
  margin-bottom: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
nav.toc .toggleNav .navGroup.navGroupActive h3 {
  padding: 1.25rem 1.25rem 0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  background: transparent;
}
nav.toc .toggleNav .navGroup.navGroupActive ul li {
  font-size: 16px;
  line-height: 22px;
}
nav.toc .toggleNav .navGroup.navGroupActive ul li a {
  position: relative;
  margin: 0.5rem 1.25rem 0.2rem;
  padding: 0 0 0.3rem;
  text-decoration: none;
}
nav.toc .toggleNav .navGroup.navGroupActive ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-bottom: 2px solid transparent;
  transition: 0.2s width;
}
nav.toc .toggleNav .navGroup.navGroupActive ul li a, nav.toc .toggleNav .navGroup.navGroupActive ul li a.navItemActive {
  color: #464e56;
}
nav.toc .toggleNav .navGroup.navGroupActive ul li a:hover::before, nav.toc .toggleNav .navGroup.navGroupActive ul li a.navItemActive::before {
  width: 100%;
  border-bottom-color: #14b2e2;
}
nav.toc .toggleNav .navToggle {
  width: 20px;
  height: 20px;
}
nav.toc .toggleNav .navToggle::before, nav.toc .toggleNav .navToggle::after,
nav.toc .toggleNav .navToggle i, .docsSliderActive nav.toc .toggleNav .navToggle::before, .docsSliderActive nav.toc .toggleNav .navToggle::after,
.docsSliderActive nav.toc .toggleNav .navToggle i {
  position: absolute;
  width: 100%;
  height: 0;
  top: 10px;
  right: 0;
  left: 0;
  opacity: 1;
  border: none;
  border-bottom: 2px solid #404040;
  transform: rotate(0);
  transition: all 0.4s;
}
nav.toc .toggleNav .navToggle::before {
  margin-top: -6px;
}
nav.toc .toggleNav .navToggle::after {
  margin-top: 6px;
}
nav.toc .toggleNav .navToggle i::before, nav.toc .toggleNav .navToggle i::after {
  display: none;
}
.docsSliderActive nav.toc .toggleNav .navToggle::before, .docsSliderActive nav.toc .toggleNav .navToggle::after {
  margin-top: 0;
}
.docsSliderActive nav.toc .toggleNav .navToggle::before {
  transform: rotate(45deg);
}
.docsSliderActive nav.toc .toggleNav .navToggle::after {
  transform: rotate(-45deg);
}
.docsSliderActive nav.toc .toggleNav .navToggle i {
  opacity: 0;
}
@media only screen and (max-width: 735px) {
  nav.toc section .navGroups {
    padding-top: 64px;
  }
}

.docsNavContainer nav.toc .navBreadcrumb {
  height: 50px;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.95rem;
  background-color: #fdfdfd;
}
.navBreadcrumb h2 i {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .onPageNav {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 104px;
    flex: 0 0 290px;
    overflow-y: auto;
    max-height: calc(100vh - 104px);
    padding-top: 1.25rem;
  }
  .onPageNav > ul {
    padding: 10px 0 2px 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }
  .onPageNav a {
    color: #464e56;
  }
  .onPageNav ul li {
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 14px;
  }
  .onPageNav ul ul {
    padding: 8px 0 0 20px;
  }
  .onPageNav ul ul li {
    padding-bottom: 8px;
  }
}

@media only screen and (min-width: 1025px) {
  .doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    flex: 1 auto;
    max-width: 100%;
    min-width: 0;
    padding: 0 40px 50px;
  }
  .doc.separateOnPageNav .docsNavContainer {
    flex: 0 0 290px;
    margin: 0;
  }
  .doc.separateOnPageNav nav.toc:last-child {
    width: auto;
  }
}

.toggleNavOpen {
  overflow: hidden;
}

.navSearchWrapper::before, .navSearchWrapper::after {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper {
    top: 15px;
  }
  .reactNavSearchWrapper,
.reactNavSearchWrapper input#search_input_react {
    max-width: calc(100vw - 280px);
  }
}
@media only screen and (max-width: 360px) {
  .reactNavSearchWrapper {
    display: none;
  }
}
.reactNavSearchWrapper input#search_input_react {
  height: 28px;
  font-size: 0.8rem;
  line-height: 28px;
}
.reactNavSearchWrapper input#search_input_react, .reactNavSearchWrapper input#search_input_react:focus, .reactNavSearchWrapper input#search_input_react:active {
  width: 234px;
  padding: 0 1rem;
  color: #464e56;
  background: rgba(221, 221, 221, 0.5);
}
.reactNavSearchWrapper input#search_input_react::placeholder {
  color: #94a1ad;
}
.reactNavSearchWrapper .aa-dropdown-menu {
  padding: 20px;
  border: 1px solid #dde4eb;
  border-radius: 3px;
  box-shadow: 0 1px 20px 0 rgba(20, 57, 93, 0.2);
  background-color: #fff;
}
.reactNavSearchWrapper .aa-dropdown-menu::before, .reactNavSearchWrapper .aa-dropdown-menu::after {
  content: "";
  position: absolute;
  right: 100px;
  border: 10px solid transparent;
}
.reactNavSearchWrapper .aa-dropdown-menu::before {
  top: -20px;
  border-bottom-color: #dde4eb;
}
.reactNavSearchWrapper .aa-dropdown-menu::after {
  top: -19px;
  border-bottom-color: #fff;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion,
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header,
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column,
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--content,
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-footer {
  border: none;
  background-color: transparent;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--category-header {
  padding: 15px 0;
  border-top: 1px solid #dde4eb;
  color: #000;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
}
.reactNavSearchWrapper .aa-dropdown-menu .aa-suggestion:first-child .algolia-docsearch-suggestion--category-header,
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--content,
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion__secondary {
  border-top: none;
}
.reactNavSearchWrapper .aa-dropdown-menu .aa-suggestion:first-child .algolia-docsearch-suggestion--category-header {
  padding-top: 0;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--title {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--content {
  padding: 5px 10px;
  border-top: 1px solid #dde4eb;
  color: #464e56;
  line-height: 20px;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--text {
  padding: 0;
  font-size: 14px;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-suggestion--subcategory-column {
  padding: 5px 0;
  font-size: 16px;
  text-align: left;
  line-height: 22px;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-footer {
  padding: 15px 0 0;
  border-top: 1px solid #dde4eb;
}
.reactNavSearchWrapper .aa-dropdown-menu .algolia-docsearch-footer--logo {
  height: 15px;
  margin: 0;
  border: none;
  line-height: inherit;
}
@media only screen and (max-width: 1024px) {
  .reactNavSearchWrapper .aa-dropdown-menu {
    width: 90%;
    right: 5% !important;
    left: 5% !important;
    position: fixed !important;
    top: auto !important;
    max-height: 90vh;
  }
}
.reactNavSearchWrapper .aa-cursor .algolia-docsearch-suggestion--title {
  color: #000;
}
.reactNavSearchWrapper .aa-cursor .algolia-docsearch-suggestion--content {
  color: #464e56;
  background-color: #e8edf3;
}
.reactNavSearchWrapper .algolia-docsearch-suggestion--highlight {
  color: #14b2e2;
}
.reactNavSearchWrapper .aa-suggestion-title-separator {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 4px;
  height: 7px;
  margin: 0 5px;
  font-size: 0;
  background-image: url('data:image/svg+xml;utf8,<svg width="4" height="9" xmlns="http://www.w3.org/2000/svg"><path d="M0 8.166992l3.87988-3.534114L0 1.461174" stroke="#94A1AE" fill="none" fill-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

code {
  font-size: 80%;
}

code,
.hljs {
  box-shadow: none;
  background-color: rgba(136, 170, 185, 0.1);
}

.hljs,
.hljs-subst {
  color: #464e56;
}

.hljs-comment {
  color: #94a1ad;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #e54d42;
}

.hljs-title,
.hljs-section {
  color: #aa2117;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #e9665d;
}

.hljs-literal,
.hljs-attr,
.hljs-meta {
  color: #00c18d;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #008460;
}

.hljs-meta {
  color: #0f86aa;
}

.hljs-meta-string,
.hljs-name {
  color: #14b2e2;
}

.button {
  border: none;
  text-transform: none;
}
.button:hover, .button:focus, .button:active {
  color: #464e56;
  text-decoration: underline !important;
  background: transparent;
}

.button-link {
  text-decoration: underline;
}

a {
  color: #14b2e2;
  transition: all 0.2s;
}
a:hover, a:focus, a:active {
  color: #464e56;
  text-decoration: underline;
}

.button-more-charts {
  position: relative;
  top: 2px;
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid #b0beca;
  border-radius: 100px;
  color: #6c7581;
  font-size: 14px;
  line-height: 22px;
}
.button-more-charts::before {
  content: "+";
  position: relative;
  display: inline-block;
  margin-top: -1px;
  margin-right: 7px;
  color: #97A1AE;
  font-size: 20px;
  font-weight: bold;
  vertical-align: top;
}
.button-more-charts:hover, .button-more-charts:focus, .button-more-charts:active {
  border-color: #94a1ad;
  text-decoration: none;
}

footer.nav-footer {
  flex: 0 0 auto;
  padding: 0;
  box-shadow: none;
  color: #6d7680;
  text-align: center;
  background-color: rgba(89, 98, 107, 0.11);
}
footer.nav-footer .copyright {
  padding: 1rem 20px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #404040;
}
footer.nav-footer .copyright a {
  color: inherit;
  text-decoration: underline;
}
footer.nav-footer .copyright a:hover, footer.nav-footer .copyright a:active, footer.nav-footer .copyright a:focus {
  color: #fff;
}

.footer-links {
  display: none;
  padding: 20px;
}
body.doc .footer-links {
  display: block;
}
.footer-links h3 {
  margin: 1.5rem 0;
  color: inherit;
}
.footer-links .social-buttons {
  margin-top: 0;
  padding: 1.5rem 0 0;
  border-top-color: rgba(109, 118, 128, 0.5);
  color: inherit;
}
.footer-links .social-buttons a {
  color: inherit;
}
.footer-links .social-button.github::before {
  background-image: url("../img/footer/github-logo.png");
}
.footer-links .social-button.stackoverflow::before {
  background-image: url("../img/footer/stackoverflow-logo.png");
}
.footer-links .social-button.twitter::before {
  background-image: url("../img/footer/twitter-logo.png");
}
.footer-links .social-button.npm::before {
  background-image: url("../img/footer/npm-logo.png");
}

.homeSplashFade {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  background-image: linear-gradient(-180deg, rgba(20, 178, 226, 0) 0%, rgba(0, 193, 141, 0.79) 100%);
  background-position: center;
}
.homeSplashFade::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  opacity: 0.05;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 77%, #000 100%);
}
.homeSplashFade .homeSplashFadeBg {
  position: absolute;
  top: -15%;
  right: 0;
  bottom: -15%;
  left: 0;
  background-image: url("../img/homepage/splash-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  transform: translate3d(0, -10.5%, 0);
  transition: transform 1ms;
}

.projectTitle {
  margin-top: 4.68rem;
  color: inherit;
  font-weight: bold;
}

.projectDescription {
  margin: 1.25rem;
  font-size: 2rem;
  line-height: 2.75rem;
}

.homeContainer .button,
.homeContainer .button-link {
  display: inline-block;
  margin: 1rem auto;
}
.homeContainer .button {
  padding: 0.7rem 4.1rem;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s;
}
.homeContainer .button:hover, .homeContainer .button:focus, .homeContainer .button:active {
  text-decoration: none !important;
  background-color: rgba(0, 0, 0, 0.35);
}
.homeContainer .button-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}
.homeContainer .button-link:hover, .homeContainer .button-link:focus, .homeContainer .button-link:active {
  color: rgba(255, 255, 255, 0.9);
}
.homeContainer .homeWrapper {
  position: relative;
  padding-bottom: 369px;
}
@media only screen and (max-width: 735px) {
  .homeContainer .homeWrapper {
    padding-bottom: 40%;
  }
}

.promoSection {
  position: static;
}
.promoSection::before, .promoSection::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.promoSection::before {
  height: 318px;
  background-image: url("../img/homepage/splash-bottom-image.png");
  background-size: contain;
}
.promoSection::after {
  height: 369px;
  background-image: url("../img/homepage/splash-bottom.svg");
}
.promoSection .promoRow .pluginRowBlock {
  display: block;
}

.getStartedSection {
  padding: 5rem 1.25rem 1rem;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(-130deg, #14b2e2 0%, #00c18d 100%);
}
.getStartedSection h2 {
  color: #fff;
}

.backgroundBlock-white {
  background-color: #fff;
}

.backgroundBlock-gray {
  background-color: #fafafa;
  background-image: linear-gradient(-180deg, rgba(148, 161, 173, 0) calc(100% - 100px), rgba(89, 98, 107, 0.11) 100%);
}

.social-buttons {
  display: inline-block;
  padding: 2rem 0;
  margin: 5.375rem auto 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
.social-buttons h4,
.social-buttons a {
  height: 1.875rem;
  display: inline-block;
  color: inherit;
  line-height: 1.875rem;
  vertical-align: middle;
}
@media only screen and (max-width: 735px) {
  .social-buttons h4,
.social-buttons a {
    display: block;
    text-align: center;
  }
}
.social-buttons h4 {
  font-size: 1.1rem;
  font-weight: bold;
}

.social-button {
  margin: 0 0 0 2.5rem;
}
.social-button::before {
  content: "";
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  margin: -0.1rem 0.6rem 0 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.9;
  transition: all 0.2s;
}
.social-button:hover::before, .social-button:focus::before, .social-button:active::before {
  opacity: 1;
}
.social-button:first-child {
  margin-left: 0;
}
.social-button.github::before {
  background-image: url("../img/homepage/github-logo.png");
}
.social-button.stackoverflow::before {
  background-image: url("../img/homepage/stackoverflow-logo.png");
}
.social-button.twitter::before {
  background-image: url("../img/homepage/twitter-logo.png");
}
@media only screen and (max-width: 735px) {
  .social-button {
    margin: 1rem 0;
  }
}

.visualizationsSection {
  color: #fff;
  background-image: linear-gradient(-135deg, #0BCCE8 0%, #10A1CE 100%);
}

.visualizationsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 6rem;
  list-style-type: none;
}

.visualization {
  display: inline-block;
  width: 16.6666666667%;
  text-align: center;
}
@media only screen and (max-width: 735px) {
  .visualization {
    width: 33.3333333333%;
  }
}

.visualizationImage {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.visualizationTitle {
  display: block;
  font-size: 1.1rem;
}

.productShowcaseSection {
  padding: 4.375rem;
  background-color: #f0f0f0;
}
@media only screen and (max-width: 735px) {
  .productShowcaseSection {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.productShowcase {
  position: relative;
}
@media only screen and (min-width: 736px) {
  .productShowcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
  }
}

.productShowcaseInner {
  display: inline-block;
}
@media only screen and (min-width: 736px) {
  .productShowcaseInner {
    margin-left: -430px;
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.33);
  }
}

.productShowcaseBlock {
  text-align: left;
}
.productShowcaseBlock:nth-child(1) .productShowcaseTitle h4::before {
  content: "1.";
}
.productShowcaseBlock:nth-child(2) .productShowcaseTitle h4::before {
  content: "2.";
}
.productShowcaseBlock:nth-child(3) .productShowcaseTitle h4::before {
  content: "3.";
}
.productShowcaseBlock:nth-child(4) .productShowcaseTitle h4::before {
  content: "4.";
}
.productShowcaseBlock:nth-child(5) .productShowcaseTitle h4::before {
  content: "5.";
}
.productShowcaseBlock:nth-child(6) .productShowcaseTitle h4::before {
  content: "6.";
}
.productShowcaseBlock:nth-child(7) .productShowcaseTitle h4::before {
  content: "7.";
}
.productShowcaseBlock:nth-child(8) .productShowcaseTitle h4::before {
  content: "8.";
}
.productShowcaseBlock:nth-child(9) .productShowcaseTitle h4::before {
  content: "9.";
}
.productShowcaseBlock:nth-child(10) .productShowcaseTitle h4::before {
  content: "10.";
}
@media only screen and (max-width: 735px) {
  .productShowcaseBlock {
    margin-top: 1rem;
  }
  .productShowcaseBlock label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.productShowcaseSwitch {
  display: none;
}
@media only screen and (min-width: 736px) {
  .productShowcaseSwitch:checked ~ .productShowcaseTitle h4, .productShowcaseSwitch:hover ~ .productShowcaseTitle h4, .productShowcaseSwitch:active ~ .productShowcaseTitle h4 {
    border-color: #14b2e2;
  }
  .productShowcaseSwitch:checked ~ .productShowcaseTitle:after {
    content: "";
    position: absolute;
    top: 12px;
    right: -40px;
    width: 18px;
    height: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.33);
    border-right: 1px solid rgba(0, 0, 0, 0.33);
    background-color: #f0f0f0;
    transform: rotate(45deg);
  }
  .productShowcaseSwitch:checked ~ .productShowcaseExample {
    display: flex;
  }
}

.productShowcaseTitle {
  position: relative;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s;
}
.productShowcaseTitle h4 {
  display: inline-block;
  height: 1.6rem;
  margin: 0.4rem 0;
  border-bottom: 2px solid rgba(20, 178, 226, 0);
  color: #464e56;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6rem;
  white-space: nowrap;
}
.productShowcaseTitle h4::before {
  margin-right: 4px;
}

.productShowcaseExample {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.productShowcaseExample .exampleCode {
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.productShowcaseExample ol {
  padding: 1.56rem 1.3rem 1.56rem 2.5rem;
  list-style-type: decimal;
  color: #464e56;
  font-size: 0.9rem;
}
.productShowcaseExample ol img,
.productShowcaseExample ol .exampleCode {
  padding: 0.5rem;
}
.productShowcaseExample .codeNote {
  margin-left: 0;
  padding: 0.5rem 1.3rem;
  color: #94a1ad;
  font-size: 0.9rem;
}
@media only screen and (min-width: 736px) {
  .productShowcaseExample {
    position: absolute;
    top: 50%;
    right: 20px;
    left: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    max-width: 630px;
    transform: translateY(-50%);
  }
}

.productShowcaseLink {
  display: inline-block;
  margin: 3rem 0;
}

.featuresBlock {
  display: flex;
  align-items: center;
  color: #464e56;
}
@media only screen and (max-width: 735px) {
  .featuresBlock {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 736px) {
  .featuresBlockText-right .featuresText {
    order: 1;
  }
}

.featuresBlockText-center {
  flex-wrap: wrap;
}
.featuresBlockText-center,
.featuresBlockText-center .featuresText {
  text-align: center;
}
.featuresBlockText-center .featuresText,
.featuresBlockText-center .featuresExample {
  flex: 1 1 100%;
}
.featuresBlockText-center .featuresExample {
  padding-top: 0;
}

.featuresText,
.featuresExample {
  padding: 4rem 2rem;
  flex: 1 1 50%;
}
@media only screen and (max-width: 735px) {
  .featuresText,
.featuresExample {
    padding: 2rem;
    flex-basis: 100%;
  }
}

.featuresText {
  text-align: left;
}
.featuresText .buttonWrapper {
  display: inline-block;
}

.featuresLink {
  display: inline-block;
  margin: 2rem 0;
}

.featuresExample {
  text-align: left;
}

.exampleCode,
.exampleImageImage {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.exampleCode {
  padding: 1.56rem 1.3rem;
  border: none;
  border-radius: 0;
  white-space: pre-wrap;
}
.exampleCode .highlighting {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.exampleImage {
  position: relative;
  overflow: hidden;
  margin: 0 -1rem -1rem;
  padding: 1.75rem 1rem 1rem;
}
.exampleCode + .exampleImage::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2.19rem;
  height: 2.19rem;
  margin-top: -3.5rem;
  margin-left: -1.57rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transform: rotate(45deg);
}

.exampleImageImage {
  width: 100%;
}

.featuresBlockGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.featuresBlockGalleryItem {
  flex: 1 1 25.5rem;
  max-width: 25.5rem;
  min-width: 15rem;
  margin: 0 0.625rem;
}

.featuresBlockGalleryTitle {
  margin: 0.4rem 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  font-weight: bold;
}

.featuresBlockGalleryImage {
  width: 100%;
  padding-top: 54.545%;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
}

.featuresBlockGalleryText,
.featuresBlockGalleryLink {
  margin: 1rem 0;
}

.charting-lib-logo {
  display: inline-block;
  margin: 0.5rem 1.5rem 0.5rem 0;
  vertical-align: middle;
}

.d3-logo {
  width: 46px;
  height: 43px;
}

.highcharts-logo {
  width: 190px;
  height: 37px;
}

.chartjs-logo {
  width: 143px;
  height: 63px;
}
